<body>
<div class="container mt-5">
  <%= render 'team_info' %>
  <%= render 'players/player_form' %>
  <%= render 'players/player_table' %>
  <%= render 'coaches/coach_form' %>
  <%= render 'coaches/coach_table' %>
</div>
</body>
