<!-- app/views/basketball_teams/new.html.erb -->
<div class="container mt-5">
  <h2>New Basketball Team</h2>

  <%= form_with(model: @basketball_team, local: true, class: 'form') do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :type, class: 'form-label' %>
      <%= form.text_field :type, class: 'form-control' %>
    </div>

    <%= form.submit 'Create Basketball Team', class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Back', dashboard_path, class: 'btn btn-secondary mt-3' %>
</div>
