<%= form_with(model: [@basketball_team, @coach], local: true, data: { turbo_frame: false }) do |form| %>
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Редактирование тренера</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= form.label :last_name, "Фамилия тренера" %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Введите фамилию" %>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= form.label :first_name, "Имя тренера" %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "Введите имя" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= form.label :date_of_birth, "Дата рождения" %>
            <%= form.date_field :date_of_birth, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= form.label :license_number, "Номер лицензии" %>
            <%= form.text_field :license_number, class: "form-control", placeholder: "Введите номер лицензии" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= form.label :position, "Должность" %>
            <%= form.text_field :position, class: "form-control", placeholder: "Введите должность" %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <%= form.submit "Сохранить", class: "btn btn-success" %>
      <%= link_to 'Вернуться назад', details_basketball_team_path(@coach.basketball_team), class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
