<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Basket Team" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="<%= asset_path('basketball-logo.png') %>" alt="Logo" style="width: 40px; height: auto;">
      BasketTeam
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container mt-4">
  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
<%= yield :scripts %>
</body>
</html>
